################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GenericDraftDiscordBot/GenericDraftDiscordBot/obj
/GenericDraftDiscordBot/GenericDraftDiscordBot/bin/Debug/net6.0
/GenericDraftDiscordBot/.vs
/GenericDraftDiscordBot/GenericDraftDiscordBot/appsettings.json
